.bg{
    background-color: hsl(185, 41%, 84%);
}

.space-font{
    font-family: space;
}

.dark-bg{
    background-color: hsl(183, 100%, 15%);
}

.light-text{
    color: hsl(172, 67%, 45%);
}

.dark-text{
    color: hsl(183, 100%, 15%);
}

.dark-button{
    background-color: hsl(183, 100%, 15%);
}

.dark-button:hover{
    background-color: hsl(172, 84%, 71%);
    color: hsl(183, 100%, 15%);
}

.selected-button{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.green-button{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.green-button:hover{
    background-color: hsl(172, 84%, 71%);
}

.disabled-button{
    color: hsl(183, 100%, 15%);
    background-color: hsl(185, 36%, 33%);
}

.gray{
    background-color: hsl(189, 41%, 97%);
}

.gray-error{
    background-color: hsl(189, 41%, 97%);
    border: solid 3px rgb(244, 48, 48);
}

.gray:focus{
    border: solid 4px hsl(172, 67%, 45%);
}

.another-gray{
    color: hsl(186, 14%, 43%);
}

.red-text{
    color: rgb(244, 48, 48);
}

@font-face {
    font-family: space;
    src: url('../assets/SpaceMono-Regular.ttf');
}